<!doctype html
	><html
		><head
			><title>index</title
			><meta
			  http-equiv = 'Content-Type'
			  content = 'text/html; charset=utf-8'
			><link
			   href = 'style.css'
			   rel = 'stylesheet'
			
		></head
		><body>
Terminus-Bold-Cyrillic-10x20.ttf
			<textarea rows=25
>`1234567890-=\
qwertyuiop[]
asdfghjkl;'
zxcvbnm,./
~!@#$%^&*()_+|
QWERTYUIOP{}
ASDFGHJKL:"
ZXCVBNM<>?

ё1234567890-=\
йцукенгшщзхъ
фывапролджэ
ячсмитьбю.
Ё!"№;%:?*()_+/
ЙЦУКЕНГШЩЗХЪ
ФЫВАПРОЛДЖЭ
ЯЧСМИТЬБЮ,
</textarea>
Another terminus - https://files.ax86.net/terminus-ttf/
		</body></html>
